variables:
  IMAGE_NAME: jerrybaijy/medical-chatbot-full-stack
  IMAGE_TAG: v1.0
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - build

build_image:
  stage: build
  image: docker:20.10.20
  services:
    - name: docker:20.10.20-dind
      command: ["--storage-driver=overlay2", "--storage-opt", "dm.basesize=20G"]
  before_script:
    - docker info
    - docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD"
  script:
    - docker build -t "$IMAGE_NAME:$IMAGE_TAG" .
    - docker push "$IMAGE_NAME:$IMAGE_TAG"
  after_script:
    - docker system prune -af || true
